  /*NAV TABS*/



  nav > .nav.nav-tabs{

    border: none;
      color:#fff;
      background:hsla(240, 85%, 34%, 0.795);
      border-radius:0;
  
  }
  
   nav > div a.nav-item.nav-link
  {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#272e38;
      border-radius:0;
  }
  
  
  nav > div a.nav-item.nav-link.active
  {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:hsla(240, 85%, 34%, 0.795);
      border-radius:0;
  }
  
  nav > div a.nav-item.nav-link.active:after
   {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: hsla(240, 85%, 34%, 0.795) ;
  }

  
  .tab-content{
    background: #fdfdfd;
      line-height: 15px;
      border: 1px solid #ddd;
      border-top:5px solid hsla(240, 85%, 34%, 0.795);
      border-bottom:5px solid hsla(240, 85%, 34%, 0.795);
      padding:30px 25px;
  }
  
  
  nav > div a.nav-item.nav-link:hover
  {
    border: none;
      background: hsla(240, 85%, 34%, 0.795);
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
  }
  
  nav > div a.nav-item.nav-link:focus
  {
    border: none;
      background: #1c07d4;
      color:#1c07d4;
      font-weight: bold;
      border-radius:0;
      transition:background 0.20s linear;
  } 