/*NO MORE TABLES*/

@media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
    display: block;
    }
     
    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;

    }
     
    #no-more-tables tr { border: 1px solid #ccc; }
      
    #no-more-tables td {
    /* Behave like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 3%;
    white-space: normal;
    text-align:left;
    }
     
    #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 1px;
    left: 6px;
    width: 45%;
    padding-right: 1px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
    }
     
    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); 
    margin-top: -15px;
  
    }
  }




    body { font-family: "Helvetica" }

    body .form-control {
        border: 1px dotted #999;
        padding-top: 0px;
        padding-bottom: -1px;
        
        border-radius: 0 !important;
      
        -webkit-appearance: none;
      }

      body .btn {
        border: 1px dotted #999;
        
        border-radius: 0 !important;
      
        -webkit-appearance: none;
      }

      .has-search .form-control {
        padding-left: 2.375rem;
      }
      
      .has-search .form-control-feedback {
          position: absolute;
          z-index: 2;
          display: block;
          width: 2.375rem;
          height: 2.375rem;
          line-height: 2.375rem;
          text-align: center;
          pointer-events: none;
          color: #aaa;
      }





/*       body{
        background-color:#004C70;
      } */
      .table tr {
          cursor: pointer;
      }
      .table{
        background-color: #fff !important;
      }
      .hedding h1{
        color:#fff;
        font-size:25px;
      }
      .main-section{
        margin-top: 120px;
      }
      .hiddenRow {
          padding: 0 0px !important;
          background-color: #eeeeee;
          font-size: 13px;
      }
      .accordian-body span{
        color:#a2a2a2 !important;
      }




    
     
    
